* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fdf6e3;
  color: #1f2937;
  scroll-behavior: smooth;
  padding-top: 80px; /* pushes content below navbar */
}



nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #fff8dc; /* solid cream */
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  z-index: 1000; /* VERY IMPORTANT */
}

nav a {
  color: #8b5e3c;  /* soft brown */
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: 500;
}

nav a:hover {
  color: #5c3a21;  /* darker brown on hover */
}

nav h2 {
  color: #5c3a21;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  min-height: 100vh;
  padding: 120px 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

/* Hero Section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  font-size: 48px;
  font-weight: bold;
}

#home p {
  font-size: 20px;
  margin-top: 15px;
  color: #6b7280;  /* soft gray */
}


/* Navbar Hover Effect */
nav a {
  position: relative;
  transition: 0.3s;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.btn {
  margin-top: 30px;
  padding: 12px 25px;
  background: #3b82f6;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s ease;
  width: fit-content;
}

.btn:hover {
  background: #2563eb;
  transform: scale(1.05);
}

nav a:hover {
  color: #3b82f6;
}

/* Fade In Animation */
.section-hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.section-show {
  opacity: 1;
  transform: translateY(0);
}

