* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding-top: 80px;
  color: #1f2937;
  font-family: Arial, sans-serif;
  background: linear-gradient(-45deg, #fdf6e3, #fcebd5, #f7e6d0, #fdf6e3);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}




nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #fff8dc; /* solid cream */
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  z-index: 1000; /* VERY IMPORTANT */
}

nav a {
  color: #8b5e3c;   /* soft brown */
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: 500;
}

nav a:hover {
  color: #5c3a21;   /* darker brown */
}


nav h2 {
  color: #5c3a21;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul li a {
  color: #8b5e3c !important;
}


section {
  min-height: 100vh;
  padding: 120px 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

/* Hero Section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  font-size: 48px;
  font-weight: bold;
}

#home p {
  font-size: 20px;
  margin-top: 15px;
  color: #6b7280;  /* soft gray */
}


/* Navbar Hover Effect */
nav a {
  position: relative;
  transition: 0.3s;
}

#home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}


.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #3b82f6;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s ease;
}


.btn:hover {
  background: #2563eb;
  transform: scale(1.05);
}

nav a:hover {
  color: #3b82f6;
}

/* Fade In Animation */
.section-hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.section-show {
  opacity: 1;
  transform: translateY(0);
}

section {
  scroll-margin-top: 100px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 60px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 25px;
  color: #6b7280;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}
