/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding-top: 60px;
  background: #fdf6e3;
  color: #1f2937;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #fff8dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #8b5e3c;
  font-weight: 500;
}

/* HERO */
#home {
  min-height: 85vh;
  display: flex;
  align-items: center;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 60px;
}

.hero-image img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid white;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #8b5e3c;
  color: #fff8dc;
  border-radius: 8px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 120px 20px;
  text-align: center;
}

section + section {
  margin-top: 60px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill {
  background: white;
  padding: 12px 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* PROJECTS */
.projects-container {
  max-width: 900px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-card {
  background: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.project-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #8b5e3c;
  color: #fff8dc;
  border-radius: 8px;
  text-decoration: none;
}

/* CONTACT */
.contact-section {
  display: flex;
  justify-content: center;
}

.contact-container {
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(15px);
  padding: 50px;
  border-radius: 20px;
  width: 100%;
  max-width: 650px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-container input,
.contact-container textarea {
  padding: 15px;
  border-radius: 12px;
  border: none;
}

.contact-btn {
  width: 150px;
  align-self: center;
  background: #8b5e3c;
  color: #fff8dc;
  border: none;
  padding: 12px;
  border-radius: 30px;
}

.success-message {
  display: none;
  margin-top: 20px;
  color: #16a34a;
}

.success-message.show {
  display: block;
}
