* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #0f172a;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  min-height: 100vh;
  padding: 120px 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

/* Hero Section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  font-size: 48px;
  font-weight: bold;
}

#home p {
  font-size: 20px;
  margin-top: 15px;
  color: #cbd5e1;
}

/* Navbar Hover Effect */
nav a {
  position: relative;
  transition: 0.3s;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.btn {
  margin-top: 30px;
  padding: 12px 25px;
  background: #3b82f6;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s ease;
  width: fit-content;
}

.btn:hover {
  background: #2563eb;
  transform: scale(1.05);
}

nav a:hover {
  color: #3b82f6;
}

/* Fade In Animation */
.section-hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.section-show {
  opacity: 1;
  transform: translateY(0);
}

